.slideshowContainer{
  margin: auto;
  position: relative;
  height: 80vh;
  width: 80%;
  padding: 0;
}

.chartContainer{
  overflow: auto;
}
/* Hide the images by default */
.slides {
  display: none;
  margin: 40px;
}

/* Next & previous buttons */
.prev, .next {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(182, 182, 182);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}


.controlIcon{
  background-color: rgb(223, 223, 223);
  border: 1px solid rgb(203, 203, 203);
  cursor: pointer;
  font-size: 70%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin: 3px;
}

#delButton:hover{
  background-color: rgb(203, 203, 203);

}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
  left: 0;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #387b96c0;
  color: white;
  }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  outline: none;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.dontShow{
  display: none;
}